@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #ff3b30;
  --secondary: #ff9a9a;
  --accent: #ffc2c2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
